<!-- instantsearch.css -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/instantsearch.js@2.3/dist/instantsearch.min.css">
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/instantsearch.js@2.3/dist/instantsearch-theme-algolia.min.css">
<!-- instantsearch.js -->
<script async src="//cdn.jsdelivr.net/npm/instantsearch.js@2.3/dist/instantsearch.min.js"></script>
<!-- moment.js -->
<script async src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
<script>
window.onload = function() {
const hitTemplate = function(data) {
  // console.log(Object.keys(data));
  const date = moment.unix(data.date).format('MMM D, YYYY');
  const url = data.url;
  const title = data._highlightResult.title.value;
  const excerpt_text = data._highlightResult.excerpt_text.value;
  const categoriesTree = data.categoriesTree;
  /* get hierarchical categories */
  if (categoriesTree) {
    arr = Object.keys(categoriesTree).sort();
    lastidx = arr[arr.length - 1];
    breadcrumb = categoriesTree[lastidx].join(', ');
  }
  return `
    <section class="hero is-info">
      <div class="hero-body">
      <h1 class="title"><a href="${url}">${title}</a></h1>
      <h2 class="subtitle">${date} | ${breadcrumb}</h2>
      </div>
    </section>
    <div class=" card-content">${excerpt_text}</div>
  `;
}
const search = instantsearch({
  appId: '{{ site.algolia.application_id }}',
  apiKey: '{{ site.algolia.read_only_api_key }}',
  indexName: '{{ site.algolia.index_name }}',
  urlSync: true /* synchronize the current search with the browser URL so that copied and shared by elsewhere. */
});
search.addWidget(instantsearch.widgets.hits({
  container: '#hits',
  cssClasses: {
    item: 'card'
  },
  templates: {
    empty: 'No results',
    item: hitTemplate
  }
}));
search.addWidget(instantsearch.widgets.searchBox({
  container: '#search-box',
  placeholder: 'Search for posts',
  poweredBy: true
}));
search.addWidget(instantsearch.widgets.pagination({
  container: '#pagination',
}));
search.addWidget(instantsearch.widgets.hierarchicalMenu({
  container: '#hierarchical-categories',
  attributes: ['categoriesTree.lvl0', 'categoriesTree.lvl1', 'categoriesTree.lvl2'],
  templates: {
    header: '<span class="mdi mdi-library-books mdi-18px"> Categories</span>'
  }
}));
search.start();
}
</script>
<style>
.ais-search-box {
  max-width: 100%;
  margin-bottom: 30px;
}
.ais-search-box--input {
  border: 1px solid #A9A9A9;
  height: 40px;
  width: 100%;
  color: #636363;
}
.ais-hits--item {
  margin: 2em 0;
}
.search-highlight {
  font-style: normal;
  background-color: #ffcdd2;
  color: #c62828;
}
#pagination {
  text-align: center;
}
.ais-hierarchical-menu--count {
  display: none;
}
</style>