<!-- instantsearch.css -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/instantsearch.js@2.3/dist/instantsearch.min.css">
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/instantsearch.js@2.3/dist/instantsearch-theme-algolia.min.css">
<!-- instantsearch.js -->
<script defer src="//cdn.jsdelivr.net/npm/instantsearch.js@2.3/dist/instantsearch.min.js"></script>
<!-- moment.js -->
<script defer src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
<!-- instantsearch widgets config and style -->
<script defer src="/assets/js/ais-widgets.js"></script>
<link rel="stylesheet" href="/assets/css/ais-widgets.css">
<script>
window.onload = function() {
  const search = instantsearch({
    appId: '{{ site.algolia.application_id }}',
    apiKey: '{{ site.algolia.read_only_api_key }}',
    indexName: '{{ site.algolia.index_name }}',
    urlSync: true
  });
  
  search.addWidget( hits );
  search.addWidget( searchBox );
  search.addWidget( pagination );
  search.addWidget( hierarchicalMenu );
  search.addWidget( numericRefinementList );
  
  search.start();
}
</script>