---
---
body {
  font-family: "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  img {
    width: 100%;
    height: auto;
  }
  a {
    color: #d04526;
  }
  .container {
    padding: 1rem;
  }
  footer {
    list-style: none;
  }
}

.card {
  section {
    padding: 2px 16px;
  }
  .title, .subtitle {
    margin: 0;
  }
  
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
}

.material-icons.md-16 { font-size: 16px; }