---
---
body {
  article.post img {
    width: 100%;
    height: auto;
  }
  a {
    color: #d04526;
  }
  .container {
    padding: 1em 2em;
  }
}

.toolbar {
  background-color: #ddd;
  padding: 0.2em 1em;
}

.post {
  ul {
    li {word-break: break-all; }
  }
}

footer {
  clear: both;
  list-style: none;
  
  .container {
    color: #fff;
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    background: #a42e2b;
    padding: 0;
    section {padding: 0.5em;}
    a, a:visited {color: #fff;}
  }
}

.navbar {
  background-color: #a42e2b;
  margin-bottom: 1.2em;
  padding: 0.5em;
  a, a:visited {
    color: white;
  }
  ul {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
  }
  li {
    white-space: nowrap;
    display: inline-block;
    font-weight: bold;
    padding-top: .1em;
    margin: .1em .5em;
  }
}

.panel-item { margin-bottom: 1em; }

.first-column, .second-column {
  max-width: 100%;
  margin: auto;
  padding-bottom: 1.2em;
}

@media (min-width: 57em) {
  .first-column {
    width: 61%;
    float: left;
    margin: 0;
  }
  .second-column {
    width: 33%;
    float: right;
    margin: 0;
  }
}

.card {
  section {
    padding: 2px 16px;
  }
  .title, .subtitle {
    margin: 0.5em 0;
  }
  
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
}

.material-icons.md-16 { font-size: 16px; }
