<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
  <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
  {% if page.title %}
    {{ page.title }}
  {% else %}
    Default Page Title
  {% endif %}
  </title>
  {% if page.description %}
  <meta name="description" content="{{ page.description}}" />
  {% endif %}
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css">
  <link rel="stylesheet" href="//cdn.materialdesignicons.com/2.1.19/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="/assets/css/syntax.css">
  <link rel="stylesheet" href="/assets/css/type.css">
  <style>
  .jumbotron { 
    padding: 30px;
    background-color: #F5F5F5;
  }
  </style>

  </head>
  <body>
  <header class="jumbotron">
    <nav class="level">
    <h1 class="title is-1 level-item has-text-centered">
    <a href="/">{{ site.title }}</a>
    </h1>
    <p class="level-item has-text-centered">
    <a href="{{'./ope-note' | relative_url}}">運用メモ</a>
    </p>
    </nav>
  </header>

  <section class="section">
  <div class="container">
  {{ content }}
  </div><!-- .container -->
  </section>
  
  {% include footer.html %}
  </body>
</html>
