<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
  <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
  {% if page.title %}
    {{ page.title }}
  {% else %}
    {{ site.title }}
  {% endif %}
  </title>
  {% if page.description %}
  <meta name="description" content="{{ page.description}}" />
  {% endif %}
  
  <link rel="stylesheet" href="//cdn.materialdesignicons.com/2.1.19/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="/assets/css/syntax.css">
  <style>
    .container {
      padding: 1rem;
    }
    a {
      color: #d04526;
    }
    body {
      font-family: "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    }
  </style>

  </head>
  <body>
  <header>
    <div class="container">
      <h1><a href="/">{{ site.title }}</a></h1>
      <p><a href="{{'./ope-note' | relative_url}}">運用メモ</a></p>
    </div>
  </header>

  <div class="container">
  {{ content }}
  </div><!-- .container -->
  
  <footer>
    <div class="container">
    {% if site.email %}
    <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
    {% endif %}
    </div>
  </footer>
  </body>
</html>
