---
layout: default
---

<div class="columns">
<div class="column is-10">
  <div id="search-box"><!-- SearchBox widget will appear here --></div>
  <div id="hits"><!-- Hits widget will appear here --></div>
  <div id="pagination"><!-- Pagination widget will appear here --></div>
</div><!-- .column .is-10 -->
<div class="column is-2">
  <nav class="panel">
    <div id="hierarchical-categories"></div>
  </nav>
</div><!-- .column .is-2 -->
</div><!-- .columns -->

<!-- Including InstantSearch.js library and styling -->
{% include algolia.html %}